@model IEnumerable<MyClass.Model.BaiViet>


<div class="col-12 mt-5">
    <h3  data-aos="fade-right" data-aos-duration="800" data-mask="NEW">- TIN TỨC</h3>
</div>
@foreach (var item in Model)
{

<div  data-aos="fade-left" data-aos-duration="800" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
    <div class="card my-card" style="width:100%;">
        <a href="~/XacDinhSize">
            <img class="card-img-top" src="~/public/images/new/@item.image" style="width:350px;height:192px;" alt="Card image cap">
        </a>
        <div class="card-body my-card-body">
            <a href="~/@item.slug" class="card-title my-card-title">@item.tenCD</a>
            <p class="card-text">
                @item.noiDung
            </p>

        </div>
    </div>
</div>
}
@*<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
    <div class="card my-card" style="width:100%;">
        <a href="~/XacDinhSize">
            <img class="card-img-top" src="~/public/images/new/new_pic_8.jpg" style="width:100%;height:192px;background-color:#EAEAEA;" alt="Card image cap">
        </a>
        <div class="card-body my-card-body">
            <a href="~/XacDinhSize" class="card-title my-card-title">XU HƯỚNG GIÀY HIỆN NAY</a>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum tincidunt libero quis venenatis.Donec dictum tincidunt libero quis venenatis...
            </p>

        </div>
    </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
    <div class="card my-card" style="width:100%;">
        <a href="~/XacDinhSize">
            <img class="card-img-top" src="~/public/images/new/new_pic_9.jpg" style="width:100%;height:192px;background-color:#EAEAEA;" alt="Card image cap">
        </a>
        <div class="card-body my-card-body">
            <a href="~/XacDinhSize" class="card-title my-card-title">XU HƯỚNG GIÀY HIỆN NAY</a>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum tincidunt libero quis venenatis.Donec dictum tincidunt libero quis venenatis...
            </p>

        </div>
    </div>
</div>*@